a { border-bottom: 1px dotted #355344; color: #355344; text-decoration: none; }
body { background-color: #efb28c; color: #355344; font: 14px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; line-height: 2.0em; padding: 10px 5% 0; }
h2 { padding-top: 40px; }
img { padding: 20px 0 20px 40px; }
